<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">MediSite</a>
        </div>
        <ul class="nav navbar-nav">
            <th:block th:if="${#strings.equals(session.userRole, 'PATIENT')}">
                <li><a th:href="@{/patient}">PROFIL</a></li>
                <li><a th:href="@{/patient/appointments/{email}(email=${session.userEmail})}">WIZYTY</a></li>
                <li><a th:href="@{/patient/doctors}">LEKARZE</a></li>
            </th:block>

            <th:block th:if="${#strings.equals(session.userRole, 'ADMIN')}">
                <li><a th:href="@{/admin/users}">UŻYTKOWNICY</a></li>
                <li><a th:href="@{/admin/add}">DODAJ LEKARZA</a></li>
            </th:block>

            <th:block th:if="${#strings.equals(session.userRole, 'DOCTOR')}">
                <li><a th:href="@{/doctor}">PROFIL</a></li>
                <li><a th:href="@{/doctor/patients}">PACJENCI</a></li>
                <li><a th:href="@{/doctor/appointments}">KALENDARZ</a></li>
            </th:block>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li th:unless="${#strings.equals(session.userRole, 'ADMIN')}">
                <a href="#" th:href="@{/profile}">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </li>
            <li th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/logout}" onclick="$('#form').submit();">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                </a>
            </li>
            <form style="visibility: hidden" id="logout" method="POST" action="#" th:action="@{/logout}"></form>
            <li th:unless="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}" onclick="$('#form').submit();">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Login
                </a>
            </li>
            <form style="visibility: hidden" id="login" method="GET" action="#" th:action="@{/login}"></form>
        </ul>
    </div>
</nav>
</body>
</html>