<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wizyty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container">
    <div>
        <table class="table table-striped table-hover">
            <tr>
                <th>PACJENT: <span th:text="${appointment.patientName}"></span></th>
                <th>DATA: <span th:text="${appointment.date}"></span></th>
                <th>GODZINA: <span th:text="${appointment.time}"></span></th>
            </tr>
        </table>
    </div>
    <div th:if="${appointment.appointmentEnd != null and #temporals.createNow().isAfter(appointment.appointmentEnd)}">
        <p>Notatka:</p>
        <p class="wrapping-text"><span th:text="${appointment.note}"></span></p>
    </div>
    <div th:if="${appointment.appointmentEnd != null and #temporals.createNow().isAfter(appointment.appointmentEnd)}">
        <form th:action="@{/doctor/update_note/{appointmentId}(appointmentId=${appointment.id})}" th:method="POST" th:object="${note}">
            <input type="hidden" name="_method" value="PUT" />
            <p><label for="noteTextarea">Notatka:</label></p>
            <textarea id="noteTextarea" name="note" rows="5" cols="100" th:field="*{text}"></textarea>
            <br/>
            <button type="submit" class="btn btn-info">Aktualizuj notatkę</button>
        </form>
    </div>
</div>
</body>
</html>