<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wizyty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container">
    <div class="page-header" id="banner">
        <h2>Wizyty</h2>
    </div>

    <select id="type" name="type" onchange="toggleTextField()">
        <option value="singleAppointmentForm">Pojedyncza wizyta</option>
        <option value="multipleAppointmentsForm">Grupa wizyt</option>
    </select>

    <form id="singleAppointmentsForm" action="#" th:action="@{/doctor/add_single_appointment}" method="POST"
          th:object="${NewAppointmentDTO}">
        <div class="form-group">
            <label for="appointmentDate">Data</label>
            <input type="date" id="appointmentDate" name="appointmentDate">
            <br>
            <label for="appointmentTimeStart">Godziny</label>
            <input type="time" id="appointmentTimeStart" name="appointmentTimeStart">
            <input type="time" id="appointmentTimeEnd" name="appointmentTimeEnd">
        </div>
        <div class="form-group">
            <input type="submit" value="Dodaj wizytę" name="button"/>
        </div>
    </form>

    <form id="multipleAppointmentsForm" action="#" style="display: none"
          th:action="@{/doctor/add_multiple_appointments}" method="POST" th:object="${NewAppointmentsDTO}">
        <div class="form-group">
            <label for="appointmentsDate">Daty od: </label>
            <input type="date" id="appointmentsDate" name="appointmentDate">

            <label for="endDate">do: </label>
            <input type="date" id="endDate" name="endDate">
            <br>

            <label for="appointmentsTimeStart">Godziny od:</label>
            <input type="time" id="appointmentsTimeStart" name="appointmentTimeStart">
            <label for="appointmentsTimeEnd">do: </label>
            <input type="time" id="appointmentsTimeEnd" name="appointmentTimeEnd">
            <br>

            <label for="visitTime">Czas wizyty</label>
            <input type="time" id="visitTime" name="visitTime">
            <br>

            <label for="breakTime">Przerwa pomiędzy wizytami</label>
            <input type="time" id="breakTime" name="breakTime">
        </div>
        <div class="form-group">
            <input type="submit" value="Dodaj wizyty" name="button"/>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <tr>
            <td><a th:href="@{/doctor/appointments_future/{email}(email=${session.userEmail})}" class="btn btn-info"
                   role="button">Nadchodzące</a></td>
            <td><a th:href="@{/doctor/appointments_past/{email}(email=${session.userEmail})}" class="btn btn-info"
                   role="button">Odbyte</a></td>
            <td><a th:href="@{/doctor/appointments/{email}(email=${session.userEmail})}" class="btn btn-info"
                   role="button">Wszystkie</a></td>
        </tr>
        <tr>
            <td><a th:href="@{/doctor/appointments_future/{email}(email=${session.userEmail})}" class="btn btn-info"
                   role="button">Wolne</a></td>
            <td><a th:href="@{/doctor/appointments_past/{email}(email=${session.userEmail})}" class="btn btn-info"
                   role="button">Zajęte</a></td>
            <td><a th:href="@{/doctor/appointments/{email}(email=${session.userEmail})}" class="btn btn-info"
                   role="button">Wszystkie</a></td>
        </tr>
    </table>
    <table class="table table-striped table-hover">
        <tr>
            <th>PACJENT</th>
            <th>DATA</th>
            <th>GODZINA</th>
            <th>NOTATKA</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.patientName}"></td>
            <td th:text="${appointment.date}"></td>
            <td th:text="${appointment.time}"></td>
            <td th:text="${appointment.note}"></td>
            <td>
                <form action="#" th:action="@{/doctor/details_appointment}" th:method="GET">
                    <input type="hidden" name="appointmentId" th:value="${appointment.id}"/>
                    <button type="submit" class="btn btn-info">Szczegóły</button>
                </form>
            </td>
            <td>
                <form action="#" th:action="@{/doctor/delete_appointment}" th:method="DELETE">
                    <input type="hidden" name="appointmentId" th:value="${appointment.id}"/>
                    <button type="submit" class="btn btn-danger">Odwołaj wizytę</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<script>
    function toggleTextField() {
        var opcjeSelect = document.getElementById("type");
        var singleAppointmentForm = document.getElementById("singleAppointmentsForm");
        var multipleAppointmentForm = document.getElementById("multipleAppointmentsForm");

        if (opcjeSelect.value === "singleAppointmentForm") {
            multipleAppointmentForm.style.display = "none";
            singleAppointmentForm.style.display = "block";
        } else {
            multipleAppointmentForm.style.display = "block";
            singleAppointmentForm.style.display = "none";
        }
    }
</script>

</body>
</html>