<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zresetuj hasło</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
    <label>Wprowadź email, dla którego chcesz zresetować hasło</label><br>
    <div th:if="${mail}">Na twojego maila został wysłany link pozwalający zresetować hasło</div>
    <div th:if="${notFound}" style="color: red;">Nie znaleziono takiego maila w bazie danych</div>
    <form th:action="@{/forget}" method="POST">
        <input id="email" name="email" type="email" value="" style="width: 400px;" />
        <input type="hidden" name="XSRF-TOKEN" value="${_csrf.token}"/>
        <button type="submit">Wyślij mail</button>
    </form>
    <a th:href="@{/login}">powrót na stronę logowania</a>
</body>

</html>