<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zaloguj się</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <style>
            body{
                #footer{
                position: fixed;
                width: 100%;
                bottom: 0;
                left: 0;
                }
            }
        </style>
    </head>
    <body>
    <div th:insert="~{fragments/header :: header}"></div>
    <h3>Logowanie</h3>
    <div th:if="${error}" style="color: red;">
        <span th:text="${errorMessage}"></span>
    </div>
    <div th:if="${param.logout}">Zostałeś wylogowany</div>
    <div th:if="${registered}">Użytkownik zarejestrowany pomyślnie! Zaloguj się teraz.</div>
        <div class="card-body">
            <form name='f' action="login" method='POST'>
                <table>
                    <tr>
                        <td>Email:</td>
                        <td><input type='text' name='username'></td>
                    </tr>
                    <tr>
                        <td>Hasło:</td>
                        <td><input type='password' name='password' /></td>
                    </tr>
                    <tr>
                       <td> <button type="submit" class="btn btn-info">Zaloguj się</button></td>
                    </tr>
                    <tr>
                        <td><a th:href="@{/register}" class="btn btn-info" role="button" >Rejestracja</a></td>
                    </tr>
                </table>
            </form>
        </div>

    </body>
</html>