<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zaloguj się</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
    <div th:insert="~{fragments/header :: header}"></div>
    <h3>Logowanie</h3>
    <div th:if="${error}" style="color: red;">
        <span th:text="${errorMessage}"></span>
    </div>
    <div th:if="${param.logout}">Zostałeś wylogowany</div>
    <div th:if="${deleted}">Twoje konto zostało usunięte</div>
    <div th:if="${registered}">Użytkownik zarejestrowany pomyślnie! Zaloguj się teraz.</div>
        <div class="card-body">
            <form name='f' action="login" method='POST'>
                <table>
                    <tr>
                        <td>Email:
                        <input type='email' name='username'></td>
                    </tr>
                    <tr>
                        <td>Hasło:
                        <input type='password' name='password' /></td>
                    </tr>
                    <tr>
                       <td>
                           <br>
                           <button type="submit" class="btn btn-info">Zaloguj się</button>
                            <a th:href="@{/register}" class="btn btn-info" role="button" >Rejestracja</a>
                            <a th:href="@{/reset}">Zapomniałeś hasła?</a>
                       </td>
                    </tr>
                </table>
            </form>
        </div>

    </body>
</html>