<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wizyty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container">
    <div class="page-header" id="banner">
        <h2>Pacjent</h2>
    </div>
    <table class="table table-striped table-hover">
        <tr>
            <td><a th:href="@{/patient/appointments_future/{email}(email=${session.userEmail})}" class="btn btn-info" role="button">Nadchodzące</a></td>
            <td><a th:href="@{/patient/appointments_past/{email}(email=${session.userEmail})}" class="btn btn-info" role="button">Odbyte</a></td>
            <td><a th:href="@{/patient/appointments/{email}(email=${session.userEmail})}" class="btn btn-info" role="button">Wszystkie</a></td>
        </tr>
    </table>
    <table class="table table-striped table-hover">
        <tr>
            <th>LEKARZ</th>
            <th>SPECIALIZACJA LEKARZA</th>
            <th>DATA</th>
            <th>GODZINA</th>
            <th>NOTATKA OD LEKARZA</th>
            <th></th>
        </tr>
        <tr th:each="appointment : ${patientAppointments}">
            <td th:text="${appointment.doctorName}"></td>
            <td th:text="${appointment.doctorSpecialization}"></td>
            <td th:text="${appointment.date}"></td>
            <td th:text="${appointment.time}"></td>
            <td th:text="${appointment.note}"></td>
            <td>
                <div th:unless="${appointment.appointmentEnd.isBefore(T(java.time.LocalDateTime).now())}">
                    <form action="#" th:action="@{/patient/delete_appointment}" th:method="DELETE">
                        <input type="hidden" name="appointmentId" th:value="${appointment.id}" />
                        <button type="submit" class="btn btn-danger">Odwołaj wizytę</button>
                    </form>
                </div>
                <div th:if="${appointment.appointmentEnd.isBefore(T(java.time.LocalDateTime).now())}" >
                    <form action="#" th:action="@{/patient/delete_appointment}" th:method="DELETE">
                        <input type="hidden" name="appointmentId" th:value="${appointment.id}" />
                        <button type="submit" class="btn btn-secondary" th:disabled="${true}" >Odwołaj wizytę</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>


</body>
</html>