<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Panel pacjenta</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
    <div th:insert="~{fragments/header :: header}"></div>
        <div class="container">
            <div class="page-header" id="banner">
                <h2>Pacjent</h2>
            </div>

            <a th:href="@{/logout}" class="btn btn-info" role="button">Wyloguj się</a>

            <form action="#" th:action="@{/patient}" th:method="DELETE">
                <input type="hidden" name="email" th:value="${session.userEmail}" />
                <button type="submit" class="btn btn-danger">Usuń konto</button>
            </form>
        </div>
    </body>
</html>