<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Historia chorób</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:if="${#strings.equals(session.userRole, 'DOCTOR')}">

    <form action="#" th:action="@{/doctor/patient_diseases}" method='POST' th:object="${diseaseDTO}">
        <div class="form-group">
            NAZWA: <input type="text" th:field="*{name}"/>
            Data rozpoczęcia: <input type="date" th:field="*{since}"/>
            OPIS: <input type="text" th:field="*{description}"/>
            <input type="hidden" name="patientEmail" th:value="*{patientEmail}">
        </div>
        <button type="submit" class="btn btn-info">Dodaj chorobę</button>
    </form>
</div>

<div th:if="${edited}" class="alert alert-info">
    Zaktualizowano dane o chorobie pacjenta.
</div>
<div th:if="${added}" class="alert alert-info">
    Zaktualizowano dane o chorobach pacjenta.
</div>

<table class="table table-striped table-hover">
    <tr>
        <th>NAZWA</th>
        <th>DZIEŃ ROZPOCZĘCIA</th>
        <th>WYLECZONE</th>
        <th>OPIS</th>
        <th th:if="${#strings.equals(session.userRole, 'DOCTOR')}"></th>
    </tr>
    <tr th:each="disease : ${patientDiseases}">
        <td th:text="${disease.name}"></td>
        <td th:text="${disease.since}"></td>
        <td th:text="${disease.cured ? 'TAK' : 'NIE'}"></td>
        <td th:text="${disease.description}"></td>
        <td th:if="${#strings.equals(session.userRole, 'DOCTOR')}">
            <form action="#" th:action="@{/doctor/edit_disease/{diseaseId}(diseaseId=${disease.diseaseId})}"
                  th:method="GET">
                <button type="submit" class="btn btn-info">Edytuj</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>