<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Zresetuj hasło</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>
<label>Nowe Hasło</label><br>
<form th:action="@{/forget/reset}" method="POST">
    <input type="hidden" name="XSRF-TOKEN" value="${_csrf.token}"/>
    <input id="password" name="password" type="password" value="" />
    <button type="submit">Ustaw nowe hasło</button>
</form>
<a th:href="@{/login}">powrót na stronę logowania</a>
</body>

</html>